header {
    background-color: #964b00;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top:110px;
    right: 100px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;

}

nav a {
    text-transform: uppercase;
    color: antiquewhite;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color:black;
    text-decoration: underline;
}

.principal{
    background: white;
    color: #000000;;
    padding: 10px;
}

.titulo-centralizado{
    font-size: 30px;
    margin: 10px;
    text-align: center;
    
}

p{
    text-align: center;
    padding: 5px;
}

em strong {
    color: red;
    font-style: italic;
}

#missao{
    font-size: 20px;

}
.titulo-centralizado2{
    margin: 25px;
    color: white;
    font-size: 30px;
    text-align: center;
    
}

.item-beneficio{
    font-style: italic;
    font-weight: bolder;
    padding: 10px;
    margin-left: 200px;
    font-size: 24px;
    color: white;
}

.Beneficios{
    background: #964b00;
    padding: 20px;
}

ul{
    display: inline-block;
    vertical-align: top;
}
.img__beneficios{
    width: 50%;
}

footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 40px 0;
}


.copyright {
    color: #ffffff;
    font-size: 13px;
    margin: 65px 0;
}
